*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --back-body:#28293E;
    --tt-light:#FFFFFF;
    --tt-light-accent:#BBB3E5;
    --tt-darck:#090039;

    --font-epilogue:'Epilogue', sans-serif;
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    background-color: var(--back-body);
    color: var(--tt-light);
    font-family: var(--font-epilogue);
}

img{
    width: 100%;
    height: auto;
}

.container{
    max-width: 33rem;
    margin: 0 auto;
}

header{
    margin: 10rem 0 8rem;
    text-align: center;
    animation: topdown 700ms backwards;
}

header p{
    font-weight: 400;
    line-height: 3.2rem;
    letter-spacing: 3px;
    color: var(--tt-light-accent);
}

header h1{
    font-size: 4rem;
    font-weight: 800;
    line-height: 4.8rem;
    margin-top: 1.7rem; 
}

main{
    display: grid;
    gap: 3.2rem;
    margin-bottom: 10.5rem;
    animation: downtop 700ms 400ms backwards;
}

main .card{
    position: relative;
}

main .card img{
    height: 41.6rem;
    object-fit: cover;
    border-radius: 6px;
}

main .card h2{
    position: absolute;
    bottom: 5.2rem;
    left: 2.8rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    font-size: 4rem;
    line-height: 4.2rem;
    font-weight: 800;

}

main .card h2 span{
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--tt-darck);
    line-height: 3.2rem;
    background-color: var(--tt-light);
    height: 3.8rem;
    padding: 0 1.6rem;
    border-radius: 1.9rem;
    display: inline-flex;
    align-items: center ;
    width: fit-content;
}

@keyframes topdown{
    0%{
        opacity: 0;
        transform: translateY(-15px);
    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes downtop{
    0%{
        opacity: 0;
        transform: translateY(15px);
    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }
}